<div *ngIf="ships.length" class="directory">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
            <button class="paginate-btn" [ngClass]="{'disabled': !lastPage}" (click)="onLastPageClick()"><</button>
            <button class="paginate-btn" [ngClass]="{'disabled': !nextPage}" (click)="onNextPageClick()">></button>
        </div>
        <app-filter (mf)="filterByManufacturer($event)" [manufacturers]="manufacturers"></app-filter>
    </div>
    
    <ul>
        <li *ngFor="let ship of ships" fxLayoutAlign="space-between center">
            <div>
                <h4>{{ship.name}}</h4>
                <p>{{ship.manufacturer}}</p>
            </div>
            <p class="ship-model">{{ship.model}}</p>
        </li>
    </ul>
</div>