<div *ngIf="ships.length" class="directory">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
            <button class="paginate-btn" [ngClass]="{'disabled': !lastPage}" (click)="onLastPageClick()"><</button>
            <button class="paginate-btn" [ngClass]="{'disabled': !nextPage}" (click)="onNextPageClick()">></button>
        </div>
        <app-filter (mf)="filterByManufacturer($event)" [manufacturers]="manufacturers"></app-filter>
    </div>
    
    <div fxLayout="row">
        <ul fxFlex>
            <li *ngFor="let ship of ships; let i = index;" fxLayoutAlign="space-between center" (click)="onShipSelect(ship, i)" [ngClass]="{'active': selectedIdx === i}">
                <div>
                    <h4>{{ship.name}}</h4>
                    <p>{{ship.manufacturer}}</p>
                </div>
                <p class="ship-model">{{ship.model}}</p>
            </li>
        </ul>
        <app-details fxFlex="25" *ngIf="selectedShip" [details]="selectedShip"></app-details>
    </div>
    
</div>